/*
 * #%L
 * This file is part of GEOCKOLIBRE
 * ==================================================
 * Copyright (C) 2016 GEOCKOLIBRE
 * ==================================================
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 * 
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public
 * License along with this program.  If not, see
 * <http://www.gnu.org/licenses/gpl-3.0.html>.
 * #L%
 */
.login {
    -fx-vgap: 10px;
    -fx-hgap: 20px;
    -fx-padding: 10px;
    -fx-alignment: CENTER;
}

.rememberMeWarning {
	-fx-text-fill: gray;
	-fx-text-wrap: true;
	-fx-font-size: 10px;
	-fx-max-width: 270px;
	-fx-hpos: left;
	-fx-vpos: top;
}

.buttonBar {
	-fx-alignment: CENTER_RIGHT;
}

.progress {
    -fx-vgap: 10px;
    -fx-hgap: 20px;
    -fx-padding: 30px;
	-fx-min-width: 450;
    -fx-alignment: CENTER_LEFT;
}

.progress .progressBar {
	-fx-pref-width: 400; 
}
.messageDialog {
    -fx-vgap: 10px;
    -fx-hgap: 20px;
    -fx-padding: 10px;
	-fx-min-width: 350;
    -fx-alignment: CENTER;
}
.mainDialog .buttons {
    -fx-spacing: 10px;
}

.main {
    -fx-vgap: 10px;
    -fx-hgap: 20px;
    -fx-padding: 10px 10px 0px 10px;
	-fx-min-width: 350;
    -fx-alignment: CENTER_LEFT;
}

.mainDialog {
    -fx-padding: 10px 10px 10px 10px;
	-fx-min-width: 350;
    -fx-alignment: TOP_CENTER;
}
.tab {
	-fx-margin: 0px 0px 30px 0px;
}

.invalid {
	-fx-border-width: 1px;
	-fx-border-style:solid;
	-fx-border-color: #ff0000;
	-fx-background-color: #ffdddd;
}

.main .filterLocationsBox TextField {
	-fx-min-width: 300px;
}
.main .filterLocationsBox .locationFileLabel {
	-fx-padding: 0px 0px 0px 40px;
}
.main .filtersWithDialogs {
    -fx-spacer: 10px;
}
.main .filtersWithDialogs .hspacer {
    -fx-min-width: 70px;
}
.main .filterSizeAndType {
	-fx-hgap: 10px;
	-fx-vgap: 10px;
}
.main .filterSizeAndType .filterSizeBox,
.main .filterSizeAndType .filterTypeBox{
	-fx-hgap: 10px;
	-fx-vgap: 10px;
	-fx-padding: 10px;
    -fx-border-width: 1px;
    -fx-border-style: solid;
	-fx-border-color: #888888;
}
.main .spacer {
	-fx-min-height: 20px;
}
.main VBox {
	-fx-spacing: 10px;
}
.main HBox {
	-fx-spacing: 10px;
	-fx-alignment: CENTER_LEFT;
}

.filterDifficultyTerrainDialog {
    -fx-vgap: 10px;
    -fx-hgap: 20px;
    -fx-padding: 10px;
    -fx-alignment: CENTER;
}
.difficultiesGrid {
    -fx-vgap: 3px;
    -fx-hgap: 10px;
    -fx-alignment: CENTER_LEFT;
}
.buttonPane {
    -fx-hgap: 20px;
    -fx-padding: 10px;
	-fx-pref-width: 750; 
}
.buttonPane .selectionButtons {
	-fx-alignment: CENTER_LEFT;
    -fx-hgap: 20px;
}
.buttonPane .dialogButtons {
	-fx-alignment: CENTER_RIGHT;
    -fx-hgap: 20px;
}

.filterAttributeDialog {
    -fx-vgap: 10px;
    -fx-hgap: 20px;
	-fx-pref-height: 750;	    
}
.searchResultDialog {
    -fx-vgap: 10px;
    -fx-hgap: 20px;
    -fx-padding: 10px;
	-fx-min-width: 350;
    -fx-alignment: CENTER;
}
.searchResultDialog HBox {
	-fx-spacing: 10px;
}

.searchFinds,
.searchHides {
	-fx-spacing: 10px;
	-fx-padding: 10px;
    -fx-alignment: TOP-LEFT;
}
.searchFinds .searchFindsUser,
.searchFinds .searchNrOfCache,
.searchHides .searchHidesUser,
.searchHides .searchNrOfCache {
	-fx-spacing: 10px;
	-fx-padding: 10px;
    -fx-border-width: 1px;
    -fx-border-style: solid;
	-fx-border-color: #888888;
    -fx-alignment: CENTER_LEFT;
}
.searchFinds HBox,
.searchHides HBox {
	-fx-spacing: 10px;
    -fx-alignment: CENTER_LEFT;
}